<strong>Olá, {{ funcionario }}</strong>
<p>Houve um cancelamento de horário em sua agenda, confira os detalhes abaixo:</p>

<p>
  <strong>Cliente: </strong> {{ usuario}} <br/>
  <strong>Data/Hora: </strong> {{ date }} <br />
  <br />
  <small>
    <strong> O horário está novamente disponível para novos agendamentos. </strong>
  </small>
</p>
